/**
 * Place your custom CSS styles here.
 **/
body{
  background: #333 !important;
}


#player.animated{
  display: block;
}


.animation{
  width: 100%;
  height: 100%;
}

#player.animated video {
  -webkit-transition: all 0.3s ease-in-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s ease-in-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
